<html>

<head>
    <link rel="stylesheet" type="text/css" href="/style/navbar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: white"  xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">

    <a class="navbar-brand ml-5" style="color: black" th:href="@{'/'}">Eco Début</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>

        <ul class="navbar-nav mr-auto justify-content-center">
            <li class="nav-item" th:each="t : ${types}">
                <a class="nav-link" style="color: black" th:href="@{'/searchDetails?type_id='+${t.id}}" th:text="${t.name}"></a>
            </li>
        </ul>



        <div class="form-inline my-2 my-lg-0">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item" sec:authorize="isAuthenticated() ">
                    <a class="nav-link"  style="color: black" th:href="@{'/busket'}">
                        <i class="bi bi-bag-heart"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                        </svg> </i>
                        <span th:text="${session.busket!=null?(#aggregates.sum(session.busket.![amount])!=null?' ('+#aggregates.sum(session.busket.![amount])+')':''):''}"></span>

                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                    <a class="nav-link" style="color: black" th:href="@{'/adminItem'}" >Admin</a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: black" th:href="@{'/profile'}" >

                        <i class="bi bi-person"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                        </svg> </i>
                    </a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" style="color: black" th:href="@{'/login'}">Вход</a>
                </li>

                <form th:action="@{'/logout'}" method="post" id = "logoutFormId" sec:authorize="isAuthenticated()">
                </form>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: black" href="JavaScript:void(0)" onclick="document.getElementById('logoutFormId').submit()" th:text="#{logout}"></a>
                </li>

            </ul>
        </div>
</nav>


</body>
</html>