<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://ultraq.net.nz/thymeleaf/layout" layout:decorator = "layout/main.html">


<div layout:fragment="site_content" >
    <section style="display: block; margin-left: auto; margin-right: auto">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-65">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black mt-3" style="border-radius: 25px">
                        <div class="card-body p-md-5">
                            <div class="row">
                                <div class="col-md-9 col-lg-6 col-xl-5">

                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                         class="img-fluid" alt="Sample image">
                                </div>
                                <div  class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

                                    <p class="text-center h1 mb-5 mx-1 mx-md-4">Вход</p>

                                    <div class="alert alert-danger" role="alert" 	th:hidden="${#request.getParameter('error')==null}">
                                        <span >Неверный адрес электронной почты или пароль</span>
                                    </div>

                                    <div class="alert alert-danger" role="alert" 	th:hidden="${#request.getParameter('notEnabled')==null}">
                                        <span>Ваш акканут не активирован, проверьте почту для подтверждения</span>
                                    </div>

                                    <form th:action="@{'/auth'}" method="post">
                                        <div class="form-group">
                                            <label th:text="#{email}"></label>
                                            <input type="email"  name = "user_email" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label th:text="#{password}"></label>
                                            <input type="password" name = "user_password" class="form-control">
                                        </div>
                                        <div class="form-group" >
                                            <button class="btn btn-success form-control" th:text="#{signin}"></button>
                                            <p class="small fw-bold mt-2 pt-1 mb-0">Нет аккаунта?<a th:href="@{'/registration'}"> Зарегистрируйтесь</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</html>